<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Helsinki City Bike App</title>
        <link rel="StyleSheet" href="{{ url_for('static', filename='nav.css') }}" type="text/css" />
    </head>
    <body>
        {% include 'nav.html' %}
        <h1>Helsinki City Bike App</h1>
        <p>I think I've accomplished all the recommended and additional stuff suggested in the assignment described <a href="https://github.com/solita/dev-academy-2022-fall-exercise">here</a>, except pagination and searching on the station list. Extra features not included. See the views from the links above to test the app.</p>
    </body>
</html>