<html>
    <head>
        <title>Journeys</title>
    </head>
    <body>
        <h1>Journeys</h1>
        {% if page != 0 %}
            <a href="/journeys/?page={{page - 1}}">&lt;&lt;Former page</a>
        {% endif %}
        {% if not last %}
            <a href="/journeys/?page={{page + 1}}">Next page&gt;&gt;</a>
        {% endif %}
        <table>
            <tr>
                <th>Departure station</th>
                <th>Return station</th>
                <th>Distance (kilometers)</th>
                <th>Duration (minutes)</th>
            </tr>
            {% for journey in journeys %}
            <tr>
                <td>{{journey['departure_station']}}</td>
                <td>{{journey['return_station']}}</td>
                <td>{{journey['distance']}}</td>
                <td>{{journey['duration']}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>