<html>
    <head>
        <title>Journeys</title>
    </head>
    <body>
        <h1>Journeys</h1>
        <h2>Filter or order journeys</h2>
        <form method="get">
            <label>The departure station must be: <input name="departure" value="{{query['departure']}}"></label>
            <br>
            <label>The return station must be: <input name="return" value="{{query['return']}}"></label>
            <br>
            <label><input name="mindistance" type="number" step="0.001" value="{{query['mindistance']}}"> kilometers &lt;= distance &lt;= <input name="maxdistance" type="number" step="0.001" value="{{query['maxdistance']}}"> kilometers</label>
            <br>
            <label><input name="minduration" type="number" step="0.001" value="{{query['minduration']}}"> minutes &lt;= duration &lt;= <input name="maxduration" type="number" step="0.001"  value="{{query['maxduration']}}"> minutes</label>
            <br>
            <label>Order the journeys by <select name="order">
                <option value="departures.name" {% if query['order'] == 'departures.name' %}selected{% endif %}>departure station</option>
                <option value="returns.name" {% if query['order'] == 'returns.name' %}selected{% endif %}>return station</option>
                <option value="distance" {% if query['order'] == 'distance' %}selected{% endif %}>distance</option>
                <option value="duration" {% if query['order'] == 'duration' %}selected{% endif %}>duration</option>
            </select> in <select name="direction">
                <option value="ASC" {% if query['direction'] == 'ASC' %}selected{% endif %}>ascending</option>
                <option value="DESC" {% if query['direction'] == 'DESC' %}selected{% endif %}>descending</option>
            </select> order.</label>
            <br>
            <input type="submit" value="Apply filters and/or ordering">
        </form>
        {% if page != 0 %}
            <a href="/journeys/?page={{page - 1}}&{{querystring}}">&lt;&lt;Former page</a>
        {% endif %}
        {% if not last %}
            <a href="/journeys/?page={{page + 1}}&{{querystring}}">Next page&gt;&gt;</a>
        {% endif %}
        <table>
            <tr>
                <th>Departure station</th>
                <th>Return station</th>
                <th>Distance (kilometers)</th>
                <th>Duration (minutes)</th>
            </tr>
            {% for journey in journeys %}
            <tr>
                <td>{{journey['departure_station']}}</td>
                <td>{{journey['return_station']}}</td>
                <td>{{journey['distance']}}</td>
                <td>{{journey['duration']}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>