<html>
    <head>
        <title>Station</title>
    </head>
    <body>
        <h1>Station</h1>
        <ul>
            <li>Name: {{name}}</li>
            <li>Address: {{address}}</li>
            <li>{{starting}} journeys start here.</li>
            <li>{{ending}} journeys end here.</li>
            <li>The average distance of journeys starting here is {{starting_distance}} kilometers.</li>
            <li>The average distance of journeys ending here is {{ending_distance}} kilometers.</li>
        </ul>
    </body>
</html>