<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Upload data</title>
        <link rel="StyleSheet" href="{{ url_for('static', filename='nav.css') }}" type="text/css" />
    </head>
    <body>
        {% include 'nav.html' %}
        <h1>Upload data from CSV files to the database</h1>
        <form enctype="multipart/form-data" method="post">
            <label>Upload new journeys: <input type="file" name="journeys"/></label>
            <br>
            <label>Upload new stations: <input type="file" name="stations"/></label>
            <br>
            <input type="submit" value="Upload file(s)" />
        </form>
        {% for error in errors %}
            <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endfor %}
    </body>
</html>